*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --subdued-color: #777;
  --text-color: #555;
  --content-color: #f0f0f3;
  --avatar-size: 50px;
  --grid-gap: 1rem;
  --group-header-spacing: 1rem;
}

body {
  background-color: #f3f3f3;
}

.avatar {
  position: relative;
}

.avatar > img {
  width: 100%;
  border-radius: 100%;
  border: 2px solid white;
  display: block;
}

.avatar::after {
  content: "";
  background-color: var(--subdued-color);
  width: 1px;
  top: var(--avatar-size);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: calc(var(--grid-gap) * -1);
}

.avatar:first-child::before {
  content: "";
  background-color: var(--subdued-color);
  width: 1px;
  top: calc(-1 * var(--group-header-spacing));
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 100%;
}

.avatar:nth-last-child(2)::after {
  display: none;
}

.notification-grid {
  display: grid;
  /* grid-template-columns: auto 1fr; */
  grid-template-columns: var(--avatar-size) 1fr;
  gap: 1rem;
  max-width: 750px;
  margin: 0 auto;
  /* width: 100%; */
}

.notification-card {
  background-color: white;
  border: 1px solid var(--subdued-color);
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.notification-header {
  display: flex;
  gap: 0.5rem;
}

.notification-title {
  flex-grow: 1;
  font-size: 1.1rem;
}

.notification-time {
  color: var(--subdued-color);
}

.notification-content {
  background-color: var(--content-color);
  margin-top: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon > path {
  fill: var(--subdued-color);
}

.group-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--subdued-color);
  padding-bottom: 0.25rem;
  margin-bottom: var(--group-header-spacing);
}

.group-date {
  color: var(--subdued-color);
}

.notification-section {
  margin-bottom: 2rem;
}
